
body{
  width: 100%;
  height: 100vh;
  margin:0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.navbar {
 
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid rgb(60, 58, 58);
  top: 0;
  left: 0;
}

.nav-search {
  margin-top: 15px;
  height: 35px;
  width: 270px;
  margin-left: 27px;
  border: 0.5px;
  border-radius: 4px;
  background-color: #0a0a23;
  color: #ffffff;
  text-indent: 12px;
}

.heading{
  text-align: center;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.ai{
  height: 200px;
}
div.desc {
  padding: 15px;
  text-align: center;
}

.bx{
  margin-left: 450px;
}



.content{
  margin-left: 580px;
  width: 400px;
}

